<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SPYDataSource" type="NB.Core.Web.Model.DataSectionManager, NB.Core.Web" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="tickers" value="AAPL,YHOO,MSFT,GOOGL,CYBR,BA,ADBE,HDP,NEWR,WYNN,LVS,TSLA,NFLX,PCLN,AMZN,
            FB,LNKD,TWTR,JD,JMEI,TKMR,CELG,BIIB,ICPT,PCYC,INCY,DATA,NOW,GILD,SPLK,TSO,
            LNG,EOG,APC,GPRO,MSFT,CSCO,BRCM,INTC,NUAN,RCL,CYBR,MCO,DFS,AXP,MA,V,GS,BAC,
            C,JUNO,KITE,BLUE,GMCR,WYNN,LVS,BA,A,Z"/>
  </appSettings>
  <SPYDataSource/>
</configuration>